.page-sections
  h1.page-sections__title(v-if='!props.length', v-html='pageTitle')
  .page-sections__section-container(
    v-for='(section, i) in props',
    :key='`section-${i}`',
    :class='`component-margins--` + section.component_margins',
    :id='section.hash'
  )
    .page-sections__section(:id='`${section.acf_fc_layout}-${i}`')
      div(v-if='section.acf_fc_layout === null')
      BlockAccordion(
        v-else-if='section.acf_fc_layout === `accordion`',
        :class='`component-padding--` + section.component_padding',
        :props='section',
        :style='{ backgroundColor: section.background_color }'
      )
      BlockForm(
        v-else-if='section.acf_fc_layout === `form`',
        :class='`component-padding--` + section.component_padding',
        :props='section',
        :style='{ backgroundColor: section.background_color }'
      )
      BlockGallerySlider(
        v-else-if='section.acf_fc_layout === `gallery_slider`',
        :class='`component-padding--` + section.component_padding',
        :props='section',
        :style='{ backgroundColor: section.background_color }'
      )
      BlockTiles(
        v-else-if='section.acf_fc_layout === `tiles`',
        :class='`component-padding--` + section.component_padding',
        :props='section',
        :style='{ backgroundColor: section.background_color }'
      )
      Hero(
        v-else-if='section.acf_fc_layout === `hero`',
        :class='`component-padding--` + section.component_padding',
        :props='section',
        :style='{ backgroundColor: section.background_color }'
      )

      // devMode is toggled in the global custom-post in the API and is only effective when the site is run locally.
      DevModeOverlay(
        v-if='$store.state.devInspector'
        :pageSectionSlug='section.acf_fc_layout'
        :props='section'
      )
  DevModeTools(v-if='$store.state.devTools')
