.page-sections
  h1.page-sections__title(v-if='!props.length', v-html='pageTitle')
  .page-sections__section-container(
    v-for='(section, i) in props',
    :key='`section-${i}`',
    :class='`component-margins--` + section.component_margins',
    :id='section.hash',
    :style='{ backgroundColor: section.background_color }'
  )
    .page-sections__section(:id='`${section.acf_fc_layout}-${i}`')
      div(v-if='section.acf_fc_layout === null')
      BlockAccordion(
        v-else-if='section.acf_fc_layout === `accordion`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockBannerWithBackground(
        v-else-if='section.acf_fc_layout === `banner_with_background`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockBeforeAfterGallery(
        v-else-if='section.acf_fc_layout === `before_after_gallery`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockColumnTabs(
        v-else-if='section.acf_fc_layout === `column_tabs`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockContactBanner(
        v-else-if='section.acf_fc_layout === `contact_banner`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockCountUpBlocks(
        v-else-if='section.acf_fc_layout === `count_up_blocks`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockForm(
        v-else-if='section.acf_fc_layout === `form`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockGallery(
        v-else-if='section.acf_fc_layout === `gallery`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockImageText(
        v-else-if='section.acf_fc_layout === `image_text`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockInstagram(
        v-else-if='section.acf_fc_layout === `instagram`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockLocationsMap(
        v-else-if='section.acf_fc_layout === `locations_map`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockLogos(
        v-else-if='section.acf_fc_layout === `logos`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockPatientForms(
        v-else-if='section.acf_fc_layout === `patient_forms`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockPosts(v-else-if='section.acf_fc_layout === "blog_posts"', :props='section', :class='`component-padding--` + section.component_padding')
      BlockTabs(
        v-else-if='section.acf_fc_layout === `tabs`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockTeam(
        v-else-if='section.acf_fc_layout === `team`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockTestimonials(
        v-else-if='section.acf_fc_layout === `testimonials`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockTiles(
        v-else-if='section.acf_fc_layout === `tiles`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      BlockTitle(
        v-else-if='section.acf_fc_layout === `title`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )
      Hero(
        v-else-if='section.acf_fc_layout === `hero`',
        :class='`component-padding--` + section.component_padding',
        :props='section'
      )

      // devMode is toggled in the global custom-post in the API and is only effective when the site is run locally.
      DevModeOverlay(
        v-if='$store.state.devInspector'
        :pageSectionSlug='section.acf_fc_layout'
        :props='section'
      )
  DevModeTools(v-if='$store.state.devTools')
