.menu-links(:class='{ "menu-links--light": light, "menu-links--stacked": stacked, "menu-links--wrap": wrap }' role='menu')
  .menu-links__group(v-for='(link, i) in props'
    :key='`${i}`'
    role='menuitem')
    .menu-links__link-container
      a.menu-links__link(v-if='link.type === "ext"'
        :class='{ "menu-links__link--subnav": link.children, "menu-links__link--active": $route.path.includes(link.href) && link.href !== "/", "menu-links__link--active": $route.path === link.href, "menu-links__link--active": $route.path === link.href || (link.href.includes("blog") && $route.path.includes(link.href))}'
        :href='link.href'
        v-html='link.label'
        target='_blank'
        @click='[closeDrawer(), top()]'
        @keyup.enter='[closeDrawer(), top()]')
      nuxt-link.menu-links__link(v-else
        :class='{ "menu-links__link--subnav": link.children, "menu-links__link--active": $route.path.includes(link.path) && link.path !== "/", "menu-links__link--active": $route.path === link.path, "menu-links__link--active": $route.path === link.path || (link.path.includes("blog") && $route.path.includes(link.path))}'
        :to='{ path: link.path, hash: link.hash }'
        v-html='link.name'
        @click.native='[closeDrawer(), top()]'
        @keyup.enter='[closeDrawer(), top()]')
      BaseIcon.menu-links__caret(v-if='link.children' 
        name='caret'
        :class='{ "menu-links__caret--active": i === active }'
        @click.native='toggleSubnav(i)')
    .menu-links__subnav(v-if='link.children'
      :class='{ "menu-links__subnav--active": i === active }'
      @mouseleave='toggleSubnav()')
      nuxt-link.menu-links__subnav-link(v-for='(sublink, j) in link.children',
        :key='`${link.name} link-${j}`'
        :to='{ path: link.path, hash: sublink.hash }'
        v-html='sublink.name'
        @click.native='[closeDrawer()]'
        @keyup.enter='[closeDrawer()]')