section.hero-mobile(:style='{ opacity: compOpacity, paddingTop: paddingTop }' ref='container')
  .hero-mobile__container
    .hero-mobile__media
      BaseImage.hero-mobile__image(v-if='props.media_type === "image"'
        v-for='(image, i) in props.images'
        :key='`image-${i}`'
        :class='{ "hero-mobile__image--active": active === i }'
        v-bind='Object.assign({}, image.mobile_image, { forceVisible: true, imageBackground: true })'
        ref='images')
      video.hero-mobile__video(v-if='props.media_type === "video"'
        :src='props.video.video.src'
        :poster='props.video.video.poster.src'
        :alt='props.video.video.alt'
        muted defaultMuted loop playsinline controls=false
        ref='video')
      BaseIcon.hero-mobile__control(v-if='props.media_type === "video"' :name='play ? "pause" : "play"' @click.native='toggleVideo()')
    .hero-mobile__row.hero-mobile__row--dots(v-if='props.media_type === "image" && props.images.length > 1')
      .hero-mobile__dot(v-for='(dot, i) in props.images'
        :key='`dot-${i}`'
        :class='{ "hero-mobile__dot--active": active === i }'
        @click='makeActive(i)'
        ref='dots')
    .hero-mobile__content
      BlockContent(:props='props.content' animate)
    .hero-mobile__row.hero-mobile__row--social(v-if='props.social_media')
      a.hero-mobile__social(v-for='(social, i) in props.social_media'
        :key='`social-${i}`'
        :href='social.href'
        :aria-label='`${social.account} opens new tab`'
        target='_blank'
        ref='icons')
        BaseIcon(:name='social.account')
