.block-column-tabs-desktop
  .block-column-tabs-desktop__container(ref='container')
    .block-column-tabs-desktop__col
      .block-column-tabs-desktop__tabs(:style='{ height: height }' ref='tabs')
        .block-column-tabs-desktop__tab-container(
          v-for=`(tab, i) in props.tabs`,
          :key='`${tab.title}-${i}`',
          :aria-controls=`'block-column-tabs-desktop__drawer--' + i`,
          aria-label='expand section',
          :class=`{ 'block-column-tabs-desktop__tab-container--active': expanded === i }`
        )
          .block-column-tabs-desktop__tab(@click='toggleTabs(i)' ref='tab')
            span {{ '0' + (1 + i) }}
            .block-column-tabs-desktop__tab-title(v-html='tab.title')
          .block-column-tabs-desktop__drawer(:aria-hidden=`expanded !== i ? 'true' : 'false'`,
            aria-live='polite',
            :id=`'block-column-tabs-desktop__drawer--' + i`,
            role='region',
            :class='{ "block-column-tabs-desktop__drawer--active": expanded === i }',
            :style='{ minWidth: expanded === i ? maxWidth : "0px" }'
          )
            .block-column-tabs-desktop__content-container
              .block-column-tabs-desktop__content(:style='{ width: maxWidth}' ref='content')
                h4.block-column-tabs-desktop__title(v-html='tab.title')
                .block-column-tabs-desktop__body(v-html='tab.body')
                BaseImage.block-column-tabs-desktop__image(v-if=`tab.graphic_type === 'image' && tab.image.src`
                  v-bind='tab.image'
                )
                BaseIcon.block-column-tabs-desktop__icon(v-if=`tab.graphic_type === 'icon' && tab.icon`
                  :name='tab.icon'
                )
                Button.block-column-tabs-desktop__button(v-if='tab.button.label' :props='tab.button')
