section.block-tabs(ref='parent')
  .block-tabs__container(:class="{ 'block-tabs__container--reverse': props.reverse }" ref='container')
    .block-tabs__media(ref='image')
      .block-tabs__cover(:style='{ background: (props.background_color.label === "unset" ? "#fff" : props.background_color.value) }' ref='cover')
      .block-tabs__image-container
        BaseImage.block-tabs__image(v-if='props.image_options === "single"'
          v-bind='props.image')
        BaseImage.block-tabs__image-dynamic(v-else 
          v-for='(tab, i) in props.tabs', :key='`image-${i}`',
          :class='{ "block-tabs__image-dynamic--active": i === expanded }',
          v-bind='tab.image' forceVisible imageBackground)
    .block-tabs__content(ref='contentCol')
      BlockContent.block-tabs__content(v-if='props.content' :props='props.content' animate)
      .block-tabs__tabs
        button.block-tabs__tab(v-for='(tab, i) in props.tabs', :key='`tab-${i}`'
          :class='{ "block-tabs__tab--active": expanded === i }'
          @click='toggleAccordion(i)'
          ref='content')
          .block-tabs__tab-top(:id='tab.hash')
            .block-tabs__tab-number(:style='{ borderColor: props.body_color }' ref='numbers')
              span(:style='{ color: props.body_color }') {{ i + 1 }}
            h3.block-tabs__tab-title(v-html='tab.title' :style='{ color: props.body_color }')
          .block-tabs__tab-bottom(
            :aria-hidden=`expanded !== i ? 'true' : 'false'`,
            :style=`{ height: expanded === i ? bodyHeight + 'px' : 0, opacity: expanded === i ? 1 : 0, paddingLeft: paddingLeft }`,
            aria-live='polite'
            role='region')
            .block-tabs__tab-body(v-html='tab.body' :style='{ color: props.body_color }' ref='body')
