.block-column-tabs-mobile
  .block-column-tabs-mobile__container(:class='`block-column-tabs-mobile__container--${props.item_spacing}`')
    .block-column-tabs-mobile__col
      .block-column-tabs-mobile__items
        button.block-column-tabs-mobile__item-container(
          v-for=`(item, i) in (columns === 2 ? props.items.slice(0, Math.ceil(props.items.length / 2)) : props.items)`,
          :key='`${item.title}-${i}`',
          :aria-controls=`'block-column-tabs-mobile__drawer--' + i`,
          aria-label='expand section',
          :class=`{ 'block-column-tabs-mobile__item-container--active': expanded === i }`,
          @click='toggleAccordion(i)',
          ref='gsap2'
        )
          .block-column-tabs-mobile__item
            h3.block-column-tabs-mobile__item-title(v-html='item.title')
            .block-column-tabs-mobile__cross
              span
              span
          .block-column-tabs-mobile__drawer(
            :aria-hidden=`expanded !== i ? 'true' : 'false'`,
            aria-live='polite',
            :id=`'block-column-tabs-mobile__drawer--' + i`,
            role='region',
            :style=`{ height: expanded === i ? accordionBodyHeight + 'px' : 0 }`
          )
            .block-column-tabs-mobile__content(:aria-hidden=`expanded !== i ? 'true' : 'false'`, ref='content')
              .block-column-tabs-mobile__body(v-html='item.body')
              .block-column-tabs-mobile__image-container(v-if=`item.media_type === 'photo'`)
                BaseImage.block-column-tabs-mobile__image(
                  v-bind='Object.assign({}, item.photo.image, { imageBackground: true })'
                )
              .block-column-tabs-mobile__video-container-outer(v-else-if=`item.media_type === 'video-file'`)
                .block-column-tabs-mobile__video-container.block-column-tabs-mobile__video-container--file
                  video.block-column-tabs-mobile__video(
                    v-if='expanded === i',
                    controls,
                    ref='video'
                  )
                    source(:src='item.video_file.url')
                    img(v-if='item.video_file.thumbnail', :src='item.video_file.thumbnail')
              .block-column-tabs-mobile__video-container.block-column-tabs-mobile__video-container--embedded(
                v-else-if=`item.media_type === 'video-embedded'`
              )
                iframe.block-column-tabs-mobile__video(
                  allow='accelerometer; encrypted-media; gyroscope; picture-in-picture',
                  allowfullscreen,
                  frameborder='0',
                  loading='lazy',
                  ref='videoEmbed',
                  :src=`item.video_embedded.url + '?enablejsapi=1'`,
                  :title='item.video_embedded.title'
                )
          .block-column-tabs-mobile__line-container(
            v-if=`props.item_spacing === 'line'
              && ((columns === 1 && i < props.items.length - 1)
              || (columns === 2 && i < props.items.length / 2 - 1))`
          )
            .block-column-tabs-mobile__line


    // Optional Second Column //////////////////////////////////////////////

    // Optional Second Column //////////////////////////////////////////////

    .block-column-tabs-mobile__col(v-if='columns === 2')
      .block-column-tabs-mobile__items
        button.block-column-tabs-mobile__item-container(
          v-for='(item, j) in props.items.slice(Math.ceil(props.items.length / 2))',
          :key='`${item.title}-${j + Math.ceil(props.items.length / 2)}`',
          :aria-controls=`'block-column-tabs-mobile__drawer--' + j + Math.ceil(props.items.length / 2)`,
          aria-label='expand section',
          :class=`{ 'block-column-tabs-mobile__item-container--active': expanded === j + Math.ceil(props.items.length / 2) }`,
          @click='toggleAccordion(j, Math.ceil(props.items.length / 2))',
          ref='gsap2'
        )
          .block-column-tabs-mobile__item
            h3.block-column-tabs-mobile__item-title(v-html='item.title')
            .block-column-tabs-mobile__cross
              span
              span
          .block-column-tabs-mobile__drawer(
            :aria-hidden=`expanded !== j + Math.ceil(props.items.length / 2) ? 'true' : 'false'`,
            aria-live='polite',
            :id=`'block-column-tabs-mobile__drawer--' + j + Math.ceil(props.items.length / 2)`,
            role='region',
            :style=`{ height: expanded === j + Math.ceil(props.items.length / 2) ? accordionBodyHeight + 'px' : 0 }`
          )
            .block-column-tabs-mobile__content(:aria-hidden=`expanded !== j + Math.ceil(props.items.length / 2) ? 'true' : 'false'`, ref='content')
              .block-column-tabs-mobile__body(v-html='item.body')
              .block-column-tabs-mobile__image-container(v-if=`item.media_type === 'photo'`)
                BaseImage.block-column-tabs-mobile__image(v-bind='Object.assign({}, item.photo.image, { imageBackground: true })')
              .block-column-tabs-mobile__video-container-outer(v-else-if=`item.media_type === 'video-file'`)
                .block-column-tabs-mobile__video-container.block-column-tabs-mobile__video-container--file
                  video.block-column-tabs-mobile__video(
                    v-if='expanded === j + Math.ceil(props.items.length / 2)',
                    controls,
                    ref='video'
                  )
                    source(:src='item.video_file.url')
                    img(v-if='item.video_file.thumbnail', :src='item.video_file.thumbnail')
              .block-column-tabs-mobile__video-container.block-column-tabs-mobile__video-container--embedded(
                v-else-if=`item.media_type === 'video-embedded'`
              )
                iframe.block-column-tabs-mobile__video.block-column-tabs-mobile__video--embedded(
                  v-if='expanded === j + Math.ceil(props.items.length / 2)',
                  allow='accelerometer; encrypted-media; gyroscope; picture-in-picture',
                  allowfullscreen,
                  frameborder='0',
                  loading='lazy',
                  ref='videoEmbed',
                  :src=`item.video_embedded.url + '?enablejsapi=1'`,
                  :title='item.video_embedded.title'
                )
          .block-column-tabs-mobile__line-container(
            v-if=`props.item_spacing === 'line'
              && ((columns === 1 && i < props.items.length - 1)
              || (columns === 2 && i < props.items.length / 2 - 1))`
          )
            .block-column-tabs-mobile__line
